services:
  fastapi_app:
    build:
      context: .
    image: fastapi_app
    restart: always
    ports:
      - 8000:8000
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: demo
    ports:
      - 5432:5432
    expose:
      - 5432